<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Order Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <h1>Order Tracker</h1>
    @using OrderTracker.Models;

    @if (Model.Count == 0)
    {
        <p>There are no vendors.</p>
    }
    <ul>
        @foreach (Vendor vendor in Model)
        {
            <li><a href="/vendors/@vendor.Id">@vendor.VendorName</a></li>
        }
    </ul>

    <a href="/vendors/new">Add a new vendor.</a>

    <form action="/vendors/delete" method="post">
        <button type="submit" name="button">Clear All Vendors</button>
    </form>
</body>
</html>